<% layout("/layouts/boilerplate.ejs") %>
  <body>

    <div class="row">
      <div class="col-10 offset-1">
        <form
          method="POST"
          action="/listings/<%=listingData._id%>/update?_method=PUT"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input         
              name="listing[title]"
              type="text"
              value="<%=listingData.title %>" 
              class="form-control"/>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input
              name="listing[description]"
              type="text"
              value="<%=listingData.description %>"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]"
              type="text"
              value="<%=listingData.image %>" 
              class="form-control"
            />
          </div>

          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input 
                name="listing[price]"
                type="number"
                value="<%=listingData.price %>" 
                class="form-control"
              />
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input         
                name="listing[country]"
                type="text"
                value="<%=listingData.country %>" 
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input 
              name="listing[location]"
              type="text"
              value="<%=listingData.location %>" 
              class="form-control"
            />
          </div>
          </br>
          <button class="btn btn-dark add-btn">Modify</button>
        </form>
      </div>
    </div>
  </body>
