<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <div class="row">

      <div class="col-6 offset-3">
        <div class="card">
          <b class="mb-2"><%= listing.title %></b>
          <img src="<%= listing.image %>" class="card-img-top show-image" alt="<%= listing.title %>">
        </div>
      </div>

      <div class="col-6 offset-3 mb-3">
          <div class="card-body">
            <p class="card-text">
              <%= listing.description %><br>
              &#8377;<%= listing.price.toLocaleString("en-IN") %>/night<br>
              <%= listing.location %><br>
              <%= listing.country %><br>
            </p>
          </div>
        </div>

        <div class="col-6 offset-3 mb-3 btns">
          <form method="GET" action="/listings/<%=listing._id %>/edit">
            <button class="btn btn-dark add-btn">Modify</button>
          </form>
          <form
            method="POST"
            action="/listings/<%=listing._id %>/delete?_method=DELETE"
          >
            <button class="btn btn-dark add-btn">Delete</button>
          </form>
        </div>

      </div>
    </div>

  </body>
